:root {
  --primario: #1073ba;
  --secundario: #00da55;
  --black: #353535;
  --white: #f2f2f2;
  --gray: #bdbdbdad;
  --darkPrimario: purple;
  --darkSecundario: rgb(250, 137, 156);
}
/*Globals*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  text-align: justify;
  box-sizing: inherit;
}
body {
  display: grid;
  grid: repeat(4, 100vh) / 100%;
  font-family: "Space Grotesk", sans-serif;
  color: var(--black);
  background-color: var(--white);
}
@media (max-width: 1139px) {
  body {
    grid: 100vh 200vh 100vh 100vh / 100%;
  }
}
h1{
    width: fit-content;
    font-size: 7rem;
}
h2{
    font-size: 3rem;
}
p{
    font-size: 2rem;
}
@media (max-width: 519px){
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 2rem;
    }
    p{
        font-size: 1.6rem;
    }
}

/*Utils*/
.gradient-green {
  color: transparent;
  background: linear-gradient(
    to right,
    var(--primario) 0%,
    var(--secundario) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}
center{
    text-align: center;
}
.bg-primario{
    background-color: var(--primario);
}

/*Header*/
.header {
  background-color: var(--black);
  color: var(--white);
  display: grid;
  grid: 50rem / repeat(2, 1fr);
  padding: 2rem;
  align-content: center;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1140px) {
  .header {
    grid: repeat(2, 1fr) / 48rem;
  }
}
@media (max-width: 519px) {
  .header {
    grid: repeat(2, 1fr) / 28rem;
  }
}
.header__img {
  width: 100%;
}
.header__info {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
}
.header__p--center {
  text-align: center;
}
.header__span {
  font-size: 5rem;
}
@media (max-width: 519px) {
  .header__span {
    font-size: 3rem;
  }
}
/*Product*/
.product {
    display: grid;
    grid: repeat(2, 1fr) / 100%;
}
    /*Section 1*/
.productProperties{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
}
@media (max-width: 1139px){
    .productProperties{
        padding: 2rem 20rem;
        grid: repeat(3, 1fr) / 100%;
    }
}
@media (max-width: 767px){
    .productProperties{
        padding: 2rem;
        grid: repeat(3, 1fr) / 100%;
    }
}
.productProperties__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.productProperties__img {
    width: 5rem;
}
    /*Section 2*/
.aboutProduct{
    display: grid;
    grid: 50vh / repeat(2, 1fr);
}
@media (max-width: 1139px){
    .aboutProduct{
        grid: repeat(2, 50vh) / 100%;
    }
    .grid-1{
        grid-row: 1/2;
    }
}
.aboutProduct__content{
    color: var(--white);
    padding: 5rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media (max-width: 519px){
    .aboutProduct__content{
        padding: 5rem 2rem;
    }
}
.aboutProduct__img{
    width: 100%;
    height: 100%;
}
/*TechPRO Galery*/
.techpro {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.techpro__models{
    display: grid;
    width: 100%;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 2rem ;
}
@media (max-width: 1139px){
    .techpro {
        padding: 2rem 5rem;
    }
    .techpro__models{
        grid: repeat(3, 1fr) / 100%;
        gap: 2rem ;
    }
}

.techpro__cards{
    border-radius: 2rem;
    background-color: var(--gray);
    height: 20rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 200ms;
}
@media (max-width: 1139px){
    .techpro__cards{
        height: 14rem;
    }
}
.techpro__cards:hover{
    transform: scale(1.1);
}
@media (min-width: 1140px){
   .grid-2{
        grid-column: 1/3;
        grid-row: 2/3;
        padding: 2rem 15rem;
    }
}
.techpro__h1-title{
    font-size: 4rem;
}
.techpro__h1{
    font-size: 3rem;
}
@media (max-width: 480px){
    .techpro__h1{
        font-size: 2rem;
    }
}
.techpro__img{
    height: 100%;
}

/*Footer*/
.footer {
  display: grid;
  grid-template-rows: 90vh 10vh;
  justify-items: center;
}
.footer__contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
@media (max-width: 767px){
    .footer__contact{
        display: grid;
        grid: repeat(2, 45vh) / 100%;
    }
}
.footer__img{
    width: 100%;
    height: 100%;
}
.footer__content{
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media (max-width: 1139px){
    .footer__content{
        padding: 5rem;
    }
}
@media (max-width: 480px){
   .footer__h2{
    font-size: 2rem;
   }
   .footer__h2{
    font-size: 1.6rem;
   }
   .footer__content{
    padding: 2rem;
}
}
.footer__email{
    padding: 1rem;
    height: 4rem;
    border: none;
}
.footer__email:focus{
    outline: var(--primario) solid .3rem
}
.footer__submit{
    text-align: center;
    width: 30%;
    padding: 1rem;
    height: 4rem;
    border: none;
    color: var(--white);
    font-weight: bold;
    font-size: 1.8rem;
}
.footer__submit:hover{
    cursor: pointer;
    background-color: var(--secundario);
}
footer{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
/*Dark Mode*/

.darkMode{
    background-color: var(--black);
    color: var(--white);
}
.darkMode__button{
    color: var(--white);
    background: transparent;
    border: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
}
button:hover{
    cursor: pointer;
}
.icon-dark{
    stroke: var(--white);
}
.gradient-dark {
    color: transparent;
    background: linear-gradient(
      to right,
      var(--darkPrimario) 0%,
      var(--darkSecundario) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
.bg-primario-dark{
    background: var(--darkPrimario);
}